<div class="tile">
    <div class="row">
        <div class="form-group col-md-5">
            <img src="https://www.ttuhsc.edu/Odessa/som/peds/images/imageNotAvailable.jpg" width="350">
        </div>
        <div class="form-group col-md-7">
            <h1>{{title}}</h1>
            <h4>
            {{#each contributors as |contributor|}}
                {{contributor.users.fullName}}
            {{/each}}
            </h4>
            <br>
            <h4>{{description}}</h4>
        </div>
    </div>
</div>
