{{yield}}
<style>
    .tileContainer
    {
        min-height: 110px;
        margin: 5px;
        border: solid gray 1px;
        background-color: black;
        color: white;
        vertical-align: bottom;
        padding-left: 10px;
        transition: all 0.3s ease;
    }
    .tileContainer:hover
    {
        background-color: grey;
    }
    .tileContainer h4
    {
        position: absolute;
        bottom: 0;
        width: 100%;
        opacity: 0;
        transition: all 0.3s ease;
    }
    .tileContainer:hover #uploader
    {
        top: 70%;
    }
    .tileContainer:hover #filetype
    {
        top: 60%;
    }
    .tileContainer:hover h4
    {
        opacity: 1;
        transform: translateY(-50%);
    }
    .tileContainer h2
    {
        position: absolute;
        top: 50%;
        transition: all 0.3s ease;
    }
    .tileContainer:hover h2
    {
        top: 0;
    }

</style>

<div class="tileContainer">
    <h2> FILE NAME </h2>
    <h4 id="uploader"> FILE UPLOADER</h4>
    <h4 id="filetype"> FILE TYPE</h4>
</div>