@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";


a, a:link, a:visited , a:hover, a:active
{
  color: white;
  text-decoration: none;
}
tr:hover
{
  cursor: pointer;
  color: black;
}
td
{
  max-width: 475px;
}
td img
{
  max-height: 80%;
  max-width: 100%;
}

html, body .fullscreen
{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.masonry-grid
{
  margin: 0 auto;
}
.big
{
  height: 100vh;
  background-image: linear-gradient(to bottom left, #000305, #0E4364, #4A8DB0);
  background-size: contain;
  color: white;
}
.big .background
{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.3;
  max-width: 100%;
  z-index: 2;
}
.big .logo
{
  position: absolute;
  top: 10px;
  right: 10px;
}
.titleRow
{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  z-index: 1000;
}

.titleRow h1
{
  font-size: 14vw;
  min-height:  14vw;
  line-height: 13vw;
  z-index: 1000;
}

.titleRow h3
{
  margin-top: 1.2vw;
  padding-left: .5vw;
  font-size: 2vw;
  min-height:  2vw;
  z-index: 1000;

}
.titleRow h4
{
  padding-left: .2vw;
  font-size: 3.5vw;
  min-height:  3.5vw;
  z-index: 1000;

}
.titleRow button
{
  margin-left: .4vw;
  font-size: 2vw;
  z-index: 1000;
}

/*.alert{
	display: none;
}*/

.registration-title {
    text-align: center;
}

textarea {
  resize: none;
  height: 30%;
  width: 95%;
}
h1 {
    font-size: 3.5em;
    margin: 0 0 10px 0;
}

h4 {
    font-size: 1em;
}

p {
    font-size: 0.8em;
}

.osfbar {
    height: 35px;

    font-size: 18px;
    margin: 0 -15px 0 -15px;
}

.conferencePhoto {
    height: 350px;
}

.conferencePhoto img {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
}

.conferenceInfo h1 {

    color: black;
}

.conferenceInfo h4 {
    color: black;
    margin: 0 0 1px 30px;
}

.conferenceDescription {
    padding: 15px 15px 15px 0;
    font-size: 22px;
}

.logos {
    width: 100%;
    height: 15%;
}

.keynote {
    font-size: 2.4em;
    color: black;
}

.smallKey {
    color: black;
    font-size: 1em;
}

.inputFields {
    width: 100%;
    height: 100px;
}

.fileView {
  padding-top: 15px;
background-color: rgba(12, 12, 12, 0.1);
  margin: 15px 0 15px 0;
	resize: none;
	min-height: 350px;
	width: 100%;
}

.splash-page
{
  height: 100%;
  width: 100%;
}

.filter-control{
  width: 30%;
  height: 30px;
  color: black;

}

.filter-control :focus{
  outline:none;
  border-color:yellow;
  box-shadow:0 0 10px blue;
}


.tree {
  min-height:20px;
  padding:10px;
  margin-bottom:20px;
 -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
}
.tree li {
  list-style-type:none;
  margin:0;
  padding:10px 5px 0 5px;
  position:relative
}
.tree li::before, .tree li::after {
  content:'';
  left:-20px;
  position:absolute;
  right:auto
}
.tree li::before {
  border-left:1px solid #999;
  bottom:50px;
  height:100%;
  top:0;
  width:1px
}
.tree li::after {
  border-top:1px solid #999;
  height:20px;
  top:25px;
  width:25px
}
.tree li span {
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border:1px solid #999;
  border-radius:5px;
  display:inline-block;
  padding:3px 8px;
  text-decoration:none
}
.tree li.parent_li>span {
  cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
  border:0
}
.tree li:last-child::before {
  height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
  background:#eee;
  border:1px solid #94a0b4;
  color:#000
}

.navbar {
  margin-bottom: 0;
}
