/*
Splash page typography settings
*/

.title-row
{
  position: absolute;
  top: 50%;
  max-width: 100%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  z-index: 10;
  margin-left: 25px;
}
.title-row h1
{
  padding: 0;
  margin: 0;
  z-index: 1000;
}
.title-row h3
{
  padding: 0;
  margin: 0;
  z-index: 1000;
}
.title-row h4
{
  padding: 0;
  margin: 0;
  z-index: 1000;
}
.title-row button
{
  z-index: 1000;
  padding: 0;
  margin: 0;
}

.conference-view-outer-container
{
  overflow: hidden;
  margin-top: 80px;
}
.conference-view-inner-container
{
  overflow: hidden;
  padding-bottom: 80px;
}
.navbar-text
{
  color: white;
  vertical-align: middle;
}
.tile-view
{
  max-height: 100vh;
  overflow-y: scroll;
  margin-left: 34px;
  padding-right: 34px;
  padding-bottom: 80px
}
.tile
{
  width: 450px;
  margin-bottom: 20px;
  text-decoration: none;
  transition: 1s ease;
}
.tile-title
{
  margin-top: 0;
  margin-bottom: 10px;
}
.tile .tile-description
{
  margin-top: 40px;
  opacity: 0;
  transition: 0.3s ease;
}
.tile:hover .tile-description
{
  transition: 0.3s ease ;
  opacity: 1;
}
.tile:hover .tile-title
{
  transition: 0.2s ease;
  opacity: 0.7;
}
.tile:hover .tile-submission-count
{
  transition: 0.2s ease;
  opacity: 0.1;
}
.masonry-grid
{
  margin: 0 auto;
}
.table-view
{
  width: 100%;
  max-height: 100vh;
  overflow-y: scroll;
  padding-right: 17px;
  margin-left: 20px;
}
.table-view tr:hover
{
  cursor: pointer;
}
.table-view td
{
  max-width: 475px;
  border: none;
}
.table-view td img
{
  max-height: 80%;
  max-width: 100%;
}
.hide-scroll
{
  overflow-y: hidden;
}
.table-view .table tr:first-child td
{
  border-top: none;
}
.table-view .table tr>td
{
  padding: 15px;
}
.fade-background .form-control
{
  margin: 0;
}


h1 {
  font-size: 2em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */
}

@media (min-width: 43.75em) {
  h1 {
    font-size: 2.5em;
    /* 2.5x body copy size = 40px */
    line-height: 1.125;
  }
}

@media (min-width: 56.25em) {
  h1 {
    font-size: 3em;
    /* 3x body copy size = 48px */
    line-height: 1.05;
    /* keep to a multiple of the 20px line height and something more appropriate for display headings */
  }
}

h2 {
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */
}

@media (min-width: 43.75em) {
  h2 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h2 {
    font-size: 2.25em;
    /* 2.25x body copy size = 36px */
    line-height: 1.25;
  }
}

h3 {
  font-size: 1.375em;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */
}

@media (min-width: 43.75em) {
  h3 {
    font-size: 1.5em;
    /* 1.5x body copy size = 24px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h3 {
    font-size: 1.75em;
    /* 1.75x body copy size = 28px */
    line-height: 1.25;
  }
}

h4 {
  font-size: 1.125em;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111;
}

@media (min-width: 43.75em) {
  h4 {
    line-height: 1.22222222;
    /* (22px / 18px */
  }
}

blockquote {
  font-size: 1.25em;
  /* 20px / 16px */
  line-height: 1.25;
  /* 25px / 20px */
}

@media (min-width: 43.75em) {
  blockquote {
    font-size: 1.5em;
    /* 24px / 16px = */
    line-height: 1.45833333;
    /* 35px / 24px */
  }
}
