
<div class="container-fluid big">
	<div class="row title">
		<div class="col-md-12 col-md-offset-1">
			<div class="page-header">
				<h1>Evaluate the submitted file</h1>
			</div>
		</div>
	</div>




	<div class="row title">
		<div class="col-md-12 col-md-offset-1">
			
			<h2> This is a test page to read the rendered file put in using the MFR </h2>
			
		</div>
	</div>

	<div class="row title">
		<div class="col-md-10 col-md-offset-3">
			<h2>This is where the modulated file would be rendered</h2>

		</div>
		<div class = "col-md-2 col-md-offset-3">
        <iframe id="fred" style="border:1px solid #666CCC" title="PDF in an i-Frame" src="http://www.psykologforbundet.se/Documents/Psykologtidningen/Aktuellt%20Pdf/Science%20aug%202015.pdf" frameborder="1" scrolling="auto" height="1100" width="850" ></iframe>
		</div>
	</div>



</div>

