<div class="container-fluid">

	<div class="row title">
		<div class="col-md-8 col-md-offset-1">
			<div class="page-header">
				<h1>Reading the rendered file</h1>
			</div>
		</div>
	</div>


	<div class="row title">
		<div class="col-md-8 col-md-offset-1">
			<h2> This is a test page to read the rendered file put in using the MFR </h2>
		</div>
	</div>

	<div class="row title">
		<div class="col-md-8 col-md-offset-1">
			<h2> Actual MFR Functionality will be added when Matt gets back, and I talk to him </h2>
		</div>
	</div>


</div>

