<style>
    .create {
        transition: 0.2s ease;
        width: auto;
        border:solid white 4px;
        margin-left: 5px;
        padding: 3%;
    }
    .create h1
    {
        color: black;
        font-size: 6vw;
        line-height: 5vw;
    }

    .create:hover
    {
        border:solid black 4px;

    }

</style>



  <div class="container-fluid big">
      <div class="row titleRow">
          <h1>OSF for Meetings</h1>
          <h3>A free sharing service for academic meetings and conferences</h3>
          <h4>Broaden your impact, create an open scholar environment</h4>
{{#scroll-to href='#browse'}}<button type="button" value="continue" class="btn btn-success">Begin Sharing</button>{{/scroll-to}}
      </div>
  </div>



<div id="browse" class="container-fluid big" style="padding-top: 3vh">
    <div class="row">
        <div class="col-md-2">
            <h2>Meetings:</h2>
        </div>
    </div>
  <hr>
  <div class="row">
      <div class="col-md-3" style="padding:0;">
          <div class="create">
            {{#link-to "register"}}<h1 style="margin-bottom: 10px">Create a Meeting</h1>{{/link-to}}
          </div>
      </div>
      <div class="col-md-9">
        {{#masonry-grid  gutter=10 items=model as |conf|}}
          {{#link-to "conference.index" conf.id}}
            {{meeting-masonry title=conf.title description=conf.description}}
          {{/link-to}}
        {{/masonry-grid}}
      </div>
  </div>


  {{outlet}}
    </div>

