{{#if this.visited}}
  {{auto-scroll}}
{{/if}}
<div id="indexTop" class="container-fluid big osf-standard-background">
    <a href="https://osf.io"><img class="logo" src="https://osf.io/static/img/cos-white2.png"> </a>
    <div class="row title-row">
        <h1>OSF Peer Reviews</h1>
        <h3>A free sharing service for academic meetings and conferences</h3>
        <h4>Broaden your impact, create an open scholar environment</h4>
        <button {{action 'scrollit'}} type="button" value="continue" class="btn btn-success">Begin Sharing</button>
    </div>
    <img class="background" src="https://osf.io/static/img/front-page/bg-web.png">
</div>


{{yield}}