Submission

<div class="container-fluid">

	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="page-header">
				<h1>Submit to (Name of Conference)</h1>
			</div>
		</div>
	</div>

	<form>
		<div class="row">
			<div class="col-md-2 col-md-offset-1">
				<label>Upload File(s):</label>
			</div>
			<div class="col-md-2 col-md-offset-2">
				<img src="" alt="upload_file_icon">
			</div>
		</div>

		<div class="row">
			<div class="col-md-4 col-md-offset-1">
				<div class="form-inline">
					<label>File 1 format:</label>
					<select class="form-control">
						<option>Lecture</option>
						<option>Presentation</option>
						<option>Poster</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-1">
				<div class="form-inline">
					<label>File 2 format:</label>
					<select class="form-control">
						<option>Lecture</option>
						<option>Presentation</option>
						<option>Poster</option>
					</select>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="form-group">
				<div class="col-md-1 col-md-offset-1">
					<label>Title:</label>
				</div>
				<div class="col-md-8">
					<input type="text" class="form-control">
				</div>
			</div>	
		</div>	

		<div class="row">
			<div class="form-group">
				<div class="col-md-1 col-md-offset-1">
					<label>Contributors:</label>
				</div>
				<div class="col-md-8">
					<input type="text" class="form-control">
				</div>
			</div>	
		</div>	

		<div class="row">
			<div class="form-group">
				<div class="col-md-1 col-md-offset-1">
					<label>Description:</label>
				</div>
				<div class="col-md-8">
					<textarea class="form-control"></textarea> 
				</div>
			</div>	
		</div>	

		<div class="row">
			<div class="form-group">
				<div class="col-md-1 col-md-offset-1">
					<label>Abstract:</label>
				</div>
				<div class="col-md-8">
					<textarea class="form-control"></textarea>
				</div>
			</div>	
		</div>	

		<div class="row">
			<div class="form-group">
				<div class="col-md-1 col-md-offset-1">
					<label>Keywords:</label>
				</div>
				<div class="col-md-8">
					<input type="text" class="form-control">
				</div>
			</div>	
		</div>

		<div class="row">
			<div class="form-group">
				<div class="col-md-1 col-md-offset-1">
					<label>Badges:</label>
				</div>
				<div class="col-md-2">
					<label>Open Data:</label>
					<input type="checkbox">
				</div>
				<div class="col-md-2 col-md-offset-1">
					<label>Open Materials:</label>
					<input type="checkbox">
				</div>
				<div class="col-md-2 col-md-offset-1">
					<label>Pre-Reg:</label>
					<input type="checkbox">
				</div>
			</div>	
		</div>

		<div class="row">
			<div class="form-group">
				<div class="col-md-1 col-md-offset-1">
					<label>Track:</label>
				</div>
				<div class="col-md-8">
					<select>
						<option>1</option>
						<option>2</option>
					</select>
				</div>
			</div>	
		</div>	
	</form>

	<div class="row">
		<div class="col-md-2 col-md-offset-9">
			<button class="btn btn-default">Submit</button>
		</div>
	</div>
</div>

{{outlet}}
